#chooseUs{
    background-image: url("../img/Mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    margin-top: 15px;
    // h2{
    //     margin-bottom: 50px;
    // }
    .chooseItem{
        position: relative;
        span{
            background-color: lightcoral;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -20px;
        }
        .chooseItemWrapper{
            background-color: white;
            padding: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
        p{
            line-height: 30px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #chooseUs{
        .chooseItem{
            span{
                width: 50px;
                height: 50px;
                top: -25px;
            }
        }
    }
   }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #chooseUs{
        .chooseItem{
            span{
                width: 60px;
                height: 60px;
                top: -30px;
                font-size: 22px;
            }
            .chooseItemWrapper{
                padding-top: 50px;
            }
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #chooseUs{
        .chooseItem{
            span{
                width: 70px;
                height: 70px;
                top: -35px;
                font-size: 24px;
            }
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }