#getInTouch{
    background-image: url("../img/Beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 15px 50px;
    h2{
        width: 100%;
    }
    form{
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        background-color: white;
    }
    label, textarea, input{
        display: block;
        margin-bottom: 15px;
    }
    input, textarea{
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
    }
    input{
        height: 30px;
    }
    .button:hover{
        background-color: lightcoral;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #getInTouch{
        padding-left: 70px;
    }
 }
