*{
    box-sizing: border-box;
}
.countainer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
section:nth-of-type(n+2){
    padding-top: 80px;
}
a{
    text-decoration: none;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 25px;
    text-align: center;
}
h3{
    font-size: 20px;
    margin-bottom: 15px;
}
p{
    font-size: 16px;
}
label{
    font-size: 18px;
}
span{
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.img-fluid{
    width: 100%;
}
