#promtions{
    position: relative;
    img, h2{
        margin-bottom: 30px;
    }
    .promItemText{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        p{
        text-align: center;
        }
        .buttonWrapper{
            display: flex;
            justify-content: center;
        }
        .button{
            display: inline-block;
            margin: 0 auto;
            background-color: lightgray;
            text-align: center;
            padding: 5px 20px;
            border: 0;
            border-radius: 5px;
        }
        .button:hover{
            background-color: lightcoral;
        }
    }
    .priceBox{
        width: 150px;
        height: 80px;
        background-color: lightcoral;
        position: absolute;
        top: 0;
        right: 15px;
        box-shadow: 3px 3px 3px grey;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{     
            li{
                color: white;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    p{
        margin-bottom: 30px;
    }
    .owl-dots{
        display: flex;
        justify-content: center;
      }
      .owl-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%; 
        background-color: lightslategrey;
        margin-right: 3px;
      }
      .owl-dot[class~="active"]{
        width: 10px;
        height: 10px;
        background-color: black;
      }
}